

html, body {
  text-align: center
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: rgb(25, 25, 25);
  
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
